body {
  padding: 0;
  margin: 0;
}
html, body, #map {
  height: 100%;
  width: 100%;
}

.wrapper {
  height: calc(100% - 56px);
  width: 100%;
  position: relative;
  top: 56px;
}

.overlay, .underlay {
  position: absolute;
  border: none;
}

.card.scrollable {
    max-height: calc(100% - calc(3rem + 38px));
    overflow-y: auto;
}
